@import "tailwindcss";

@theme {
    --color-blue-900: #035388;
    --color-blue-800: #0B69A3;
    --color-blue-700: #127FBF;
    --color-blue-600: #1992D4;
    --color-blue-500: #2BB0ED;
    --color-blue-400: #40C3F7;
    --color-blue-300: #5ED0FA;
    --color-blue-200: #81DEFD;
    --color-blue-100: #B3ECFF;
    --color-blue-50: #E3F8FF;

    --color-black-900: #1F2933;
    --color-black-800: #323F4B;
    --color-black-700: #3E4C59;
    --color-black-600: #52606D;
    --color-black-500: #616E7C;
    --color-black-400: #7B8794;
    --color-black-300: #9AA5B1;
    --color-black-200: #CBD2D9;
    --color-black-100: #E4E7EB;
    --color-black-50: #F5F7FA;

    --color-vivid-900: #620042;
    --color-vivid-800: #870557;
    --color-vivid-700: #A30664;
    --color-vivid-600: #BC0A6F;
    --color-vivid-500: #DA127D;
    --color-vivid-400: #E8368F;
    --color-vivid-300: #F364A2;
    --color-vivid-200: #FF8CBA;
    --color-vivid-100: #FFB8D2;
    --color-vivid-50: #FFE3EC;

    --color-red-900: #610316;
    --color-red-800: #8A041A;
    --color-red-700: #AB091E;
    --color-red-600: #CF1124;
    --color-red-500: #E12D39;
    --color-red-400: #EF4E4E;
    --color-red-300: #F86A6A;
    --color-red-200: #FF9B9B;
    --color-red-100: #FFBDBD;
    --color-red-50: #FFE3E3;

    --color-yellow-900: #8D2B0B;
    --color-yellow-800: #B44D12;
    --color-yellow-700: #CB6E17;
    --color-yellow-600: #DE911D;
    --color-yellow-500: #F0B429;
    --color-yellow-400: #F7C948;
    --color-yellow-300: #FADB5F;
    --color-yellow-200: #FCE588;
    --color-yellow-100: #FFF3C4;
    --color-yellow-50: #FFFBEA;

    --color-teal-900: #014D40;
    --color-teal-800: #0C6B58;
    --color-teal-700: #147D64;
    --color-teal-600: #199473;
    --color-teal-500: #27AB83;
    --color-teal-400: #3EBD93;
    --color-teal-300: #65D6AD;
    --color-teal-200: #8EEDC7;
    --color-teal-100: #C6F7E2;
    --color-teal-50: #EFFCF6;
}